@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular") format("svg"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light") format("svg"), url("../fonts/Roboto-Light/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black/Roboto-Black.svg#Roboto-Black") format("svg"), url("../fonts/Roboto-Black/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black/Roboto-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium") format("svg"), url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium/Roboto-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold") format("svg"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

input {
  outline: none;
}

.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.red_line_hrzntl {
  position: absolute;
  left: 0;
  top: 58.8%;
  width: 100%;
  height: 1px;
  background-color: #f00;
  z-index: 1;
  pointer-events: none;
}

.red_line_hrzntl:first-child {
  top: 29.45%;
}

.red_line_hrzntl:nth-child(3) {
  top: 87.8%;
}

.red_line_vrtcl {
  position: absolute;
  top: 0;
  left: 66.6%;
  width: 1px;
  height: 100%;
  background-color: #f00;
  z-index: 1;
  pointer-events: none;
}

.red_line_vrtcl + .red_line_vrtcl {
  left: 33.3%;
}

.bottom_marquee {
  font: 2.2rem/4.2rem "Roboto-Regular";
  position: fixed;
  left: 0;
  bottom: 25px;
  background-color: #fff;
  border: 1px solid #f00;
  border-left: 0;
  border-right: 0;
  color: #f00;
  z-index: 2;
}

.home .menu_checkbox_input:checked ~ .right .right_bg {
  display: none;
}

.home .menu_checkbox_input:checked ~ .right .right_bg.menu_open {
  display: block;
}

.right {
  position: relative;
  width: 50%;
  height: 100%;
}

.right_marquee {
  position: fixed;
  top: 0;
  left: 50%;
  width: 11.25%;
  height: 100%;
  pointer-events: none;
}

.right_marquee_svg {
  fill: #f00;
  width: 100%;
  height: 100%;
}

.right_bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right_bg_bg.menu_open {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.left_marquee {
  font: 2.2rem/2.6rem "Roboto-Regular";
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100vh;
  color: #f00;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  z-index: 2;
  pointer-events: none;
}

.button_book_now_link {
  position: absolute;
  left: 40px;
  bottom: 18.9%;
  width: 30%;
  z-index: 1;
}

.button_book_now path {
  fill: #f00;
  stroke: #f00;
  transition: 0.3s;
}

.button_book_now path:last-child {
  fill: #fff;
  stroke: #fff;
}

.button_book_now:hover {
  cursor: pointer;
}

.button_book_now:hover path {
  fill: #fff;
}

.button_book_now:hover path:last-child {
  fill: #f00;
  stroke: #f00;
}

.home .logo_svg:hover {
  fill: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 50%;
  padding: 2.78% 3.125% 0 0;
  z-index: 2;
}

.header .logo_link {
  display: block;
  width: 50.7%;
  margin-left: 12px;
}

.logo_svg:hover {
  fill: #f00;
}

.menu_checkbox_input {
  display: none;
}

.menu_checkbox_input:checked ~ .left .close_menu {
  display: block;
}

.menu_checkbox_input:checked ~ .left .open_menu {
  display: none;
}

.menu_checkbox_label {
  display: block;
  width: 3.9%;
  cursor: pointer;
}

.menu_checkbox_label .close_menu {
  display: none;
}

.menu_checkbox_label:hover svg {
  fill: #f00;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: #fff;
  z-index: 1;
  transition: 0.5s;
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
}

.menu_item_social_wrap {
  position: absolute;
  top: 18%;
  left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40.5%;
}

.menu_link {
  font: 2.2rem/2.4rem "Roboto-Light";
  color: #000;
}

.menu_link:hover, .menu_link_active {
  color: #f00;
  text-decoration: underline;
}

.menu_social_link {
  font: 2.2rem/2.4rem "Roboto-Light";
  color: #000;
}

.menu_social_link:hover {
  color: #f00;
  text-decoration: underline;
}

.menu .select_wrap {
  position: relative;
}

.menu .select_wrap select {
  display: none;
  /*hide original SELECT element:*/
}

.menu .select-items {
  font: 1.8rem/2rem "Roboto-Light";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #000;
  border-top: 0;
  z-index: 2;
  /*style the items (options), including the selected item:*/
}

.menu .select-items div {
  font: 1.8rem/2rem "Roboto-Light";
  padding: 10%;
  cursor: pointer;
  user-select: none;
}

.menu .select-items div:hover {
  background-color: #ccc;
}

.menu .select-selected {
  font: 1.8rem/2rem "Roboto-Light";
  position: relative;
  padding: 10%;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  margin-top: 5px;
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
}

.menu .select-selected::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 25px;
  width: 13px;
  height: 13px;
  border: 1px solid transparent;
  border-color: transparent #000 #000 transparent;
  transform-origin: center center;
  transform: translateY(-75%) rotate(45deg);
  transition: 0.5s;
}

.menu .select-selected.select-arrow-active::after {
  transform: translateY(-25%) rotate(-135deg);
}

.menu .select-hide {
  display: none;
}

.menu_checkbox_input:checked + .left .menu {
  opacity: 1;
  visibility: visible;
}

.menu_checkbox_input:not(:checked) ~ .left .menu {
  opacity: 0;
  visibility: hidden;
}

.price .left {
  z-index: 1;
}

.meeting_room_radio {
  display: none;
}

.meeting_room_radio_1:checked ~ .right .meeting_room_1 {
  display: block;
}

.meeting_room_radio_2:checked ~ .right .meeting_room_2 {
  display: block;
}

.meeting_room_radio_3:checked ~ .right .meeting_room_3 {
  display: block;
}

.meeting_room_radio_4:checked ~ .right .meeting_room_4 {
  display: block;
}

.meeting_room_description_container {
  height: 100%;
  overflow: hidden;
}

.meeting_room_description_container_inner {
  position: relative;
  height: 100%;
  width: calc( 100% + 17px);
  overflow-y: scroll;
}

.meeting_room_description {
  position: absolute;
  width: calc(100% - 17px);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 5.43%;
}

.meeting_room_description_outer {
  position: relative;
  height: 100%;
}

.meeting_room_description_title {
  font: 1.8rem/2.2rem "Roboto-Regular";
  letter-spacing: 2px;
  margin-bottom: 7.03%;
}

.meeting_room_description_title:first-child {
  text-decoration: underline #f00;
}

.meeting_room_description_label {
  cursor: pointer;
}

.meeting_room_description_paragraph {
  font: 1.8rem/2.2rem "Roboto-Light";
  letter-spacing: 2px;
  margin-bottom: 7.03%;
}

.meeting_room_description_item {
  font: 1.8rem/2.2rem "Roboto-Light";
  letter-spacing: 2px;
}

.meeting_room_description_tarrif_plan {
  font: 1.8rem/2.2rem "Roboto-Light";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
}

.meeting_room_description_tarrif_plan .title {
  font: 1.8rem/2.2rem "Roboto-Regular";
  width: 25%;
}

.meeting_room_description_tarrif_plan .select_wrap {
  position: relative;
}

.meeting_room_description_tarrif_plan .select_wrap select {
  display: none;
  /*hide original SELECT element:*/
}

.meeting_room_description_tarrif_plan .select-items {
  font: 1.8rem/2rem "Roboto-Light";
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  top: auto;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #000;
  border-bottom: 0;
  z-index: 1;
  /*style the items (options), including the selected item:*/
}

.meeting_room_description_tarrif_plan .select-items div {
  font: 1.8rem/2rem "Roboto-Light";
  padding: 10%;
  cursor: pointer;
  user-select: none;
}

.meeting_room_description_tarrif_plan .select-items div:hover {
  background-color: #ccc;
}

.meeting_room_description_tarrif_plan .select-selected {
  font: 1.8rem/2rem "Roboto-Light";
  position: relative;
  width: 140px;
  padding: 10%;
  border: 1px solid #000;
  border-bottom: 0;
  background-color: #fff;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
}

.meeting_room_description_tarrif_plan .select-selected::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 25px;
  width: 13px;
  height: 13px;
  border: 1px solid transparent;
  border-color: transparent #000 #000 transparent;
  transform-origin: center center;
  transform: translateY(-25%) rotate(-135deg);
  transition: 0.5s;
}

.meeting_room_description_tarrif_plan .select-selected.select-arrow-active::after {
  transform: translateY(-75%) rotate(45deg);
}

.meeting_room_description_tarrif_plan .select-hide {
  display: none;
}

.meeting_room_description_tarrif_plan .tarrif_input {
  font: 1.8rem/2rem "Roboto-Medium";
  position: relative;
  width: 140px;
  padding: 2.19%;
  border: 1px solid #000;
  background-color: #fff;
  white-space: nowrap;
  user-select: none;
}

.meeting_room_description_tarrif .tarrif_form_submit {
  font: 1.8rem/4.6rem "Roboto-Regular";
  display: block;
  margin: 12px 0 0 auto;
  color: #fff;
  background-color: #f00;
  border: 1px solid #f00;
  width: 28.13%;
  padding: 0;
  cursor: pointer;
}

.meeting_room_description_tarrif .tarrif_form_submit:hover {
  color: #f00;
  background-color: #fff;
  border: 1px solid #f00;
}

.meeting_room_photo {
  display: none;
  height: 100vh;
  overflow: hidden;
}

.meeting_room_list {
  height: 100%;
  width: calc( 100% + 17px);
  overflow-y: scroll;
}

.meeting_room_img {
  width: 100%;
}

.contacts_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 87.5%;
  padding: 6.945% 5.556%;
  background-color: #fff;
  z-index: 1;
}

.contacts_content::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  border: 1px solid #f00;
  background-color: #fff;
  z-index: -1;
}

.contacts_content::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: -14px;
  bottom: -23px;
  border: 1px solid #f00;
  background-color: #fff;
  z-index: -2;
}

.contacts_title {
  font: 2.2rem/2.6rem "Roboto-Bold";
  letter-spacing: 2px;
  margin-bottom: 5.46%;
}

.contacts_description {
  font: 1.8rem/2.2rem "Roboto-Light";
  letter-spacing: 2px;
  margin-bottom: 9.82%;
}

.contacts_phone {
  color: #000;
}

.contacts_phone:hover {
  text-decoration: underline;
}

.contacts_mail {
  color: #000;
}

.contacts_mail:hover {
  text-decoration: underline;
}

.contacts_frame {
  width: 50%;
  height: 230px;
  mix-blend-mode: luminosity;
}

.thanks_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 62.5%;
  padding: 3.47%;
  background-color: #fff;
  z-index: 1;
}

.thanks_content::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  border: 1px solid #f00;
  background-color: #f00;
  z-index: -1;
}

.thanks_content::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: -10px;
  bottom: -12px;
  border: 1px solid #f00;
  background-color: #fff;
  z-index: -2;
}

.thanks_title {
  font: 2rem/2.4rem "Roboto-Bold";
  letter-spacing: 2px;
  margin-bottom: 6.25%;
  color: #fff;
}

.thanks_description {
  font: 2rem/2.4rem "Roboto-Regular";
  letter-spacing: 2px;
  margin-bottom: 9.82%;
  color: #fff;
}

.error_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 4.17%;
  z-index: 1;
}

.error_title {
  font: 9.6rem/12rem "Roboto-Bold";
  letter-spacing: 0.1em;
  white-space: nowrap;
  text-align: center;
  color: #f00;
}
