@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular") format("svg"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light") format("svg"), url("../fonts/Roboto-Light/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black/Roboto-Black.svg#Roboto-Black") format("svg"), url("../fonts/Roboto-Black/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black/Roboto-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

input {
  outline: none;
}

.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.red_line_hrzntl {
  position: absolute;
  left: 0;
  top: 58.8%;
  width: 100%;
  height: 1px;
  background-color: #f00;
  z-index: 1;
}

.red_line_hrzntl:first-child {
  top: 29.45%;
}

.red_line_hrzntl:nth-child(3) {
  top: 87.8%;
}

.red_line_vrtcl {
  position: absolute;
  top: 0;
  left: 66.6%;
  width: 1px;
  height: 100%;
  background-color: #f00;
  z-index: 1;
}

.red_line_vrtcl + .red_line_vrtcl {
  left: 33.3%;
}

.right {
  background-image: url("../img/main/main_right.gif");
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  position: relative;
  width: 50%;
  height: 100%;
}

.right_marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.5%;
  height: 100%;
}

.right_marquee_svg {
  fill: #f00;
  width: 100%;
  height: 100%;
}

.menu_checkbox_input:checked ~ .right {
  background-image: url(../img/main/main_right__menu.gif);
}

.left {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.left_marquee {
  font: 2.2rem/2.6rem "Roboto-Regular";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 100vh;
  color: #f00;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  z-index: 2;
}

.button_book_now {
  position: absolute;
  left: 40px;
  bottom: 18.9%;
  width: 30%;
  z-index: 1;
}

.button_book_now path {
  fill: #f00;
  stroke: #f00;
  transition: 0.3s;
}

.button_book_now path:last-child {
  fill: #fff;
  stroke: #fff;
}

.button_book_now:hover {
  cursor: pointer;
}

.button_book_now:hover path {
  fill: #fff;
}

.button_book_now:hover path:last-child {
  fill: #f00;
  stroke: #f00;
}

.menu_checkbox:checked + .left .left_marquee {
  position: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 50%;
  padding: 2.78% 3.125% 0 0;
  z-index: 2;
}

.header .logo_link {
  display: block;
  width: 50.7%;
  margin-left: 12px;
}

.menu_checkbox_input {
  display: none;
}

.menu_checkbox_input:checked + .left .close_menu {
  display: block;
}

.menu_checkbox_input:checked + .left .open_menu {
  display: none;
}

.menu_checkbox_label {
  display: block;
  width: 3.9%;
  cursor: pointer;
}

.menu_checkbox_label .close_menu {
  display: none;
}

.menu_checkbox_label:hover svg {
  fill: #f00;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: #fff;
  z-index: 1;
  transition: 0.5s;
}

.menu_item_social_wrap {
  position: absolute;
  top: 18%;
  left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40.5%;
}

.menu_link {
  font: 2.2rem/2.4rem "Roboto-Light";
  color: #000;
}

.menu_link:hover {
  color: #f00;
  text-decoration: underline;
}

.menu_social_link {
  font: 2.2rem/2.4rem "Roboto-Light";
  color: #000;
}

.menu_social_link:hover {
  color: #f00;
  text-decoration: underline;
}

.menu_checkbox_input:checked ~ .menu {
  opacity: 1;
  visibility: visible;
}

.menu_checkbox_input:not(:checked) ~ .menu {
  opacity: 0;
  visibility: hidden;
}

.select_wrap {
  position: relative;
}

.select_wrap select {
  display: none;
  /*hide original SELECT element:*/
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #000;
  border-top: 0;
  z-index: 2;
  /*style the items (options), including the selected item:*/
}

.select-items div {
  font: 1.8rem/2rem "Roboto-Light";
  padding: 10%;
  cursor: pointer;
  user-select: none;
}

.select-items div:hover {
  background-color: #ccc;
}

.select-selected {
  font: 1.8rem/2rem "Roboto-Light";
  position: relative;
  padding: 10%;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  margin-top: 5px;
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
}

.select-selected::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 25px;
  width: 13px;
  height: 13px;
  border: 1px solid transparent;
  border-color: transparent #000 #000 transparent;
  transform-origin: center center;
  transform: translateY(-75%) rotate(45deg);
  transition: 0.5s;
}

.select-selected.select-arrow-active::after {
  transform: translateY(-25%) rotate(-135deg);
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
