.news {

    .open {
        cursor: auto;

        .news {

            &_image_preview_wrap {
                display: none;
            }

            &_header {
                margin-bottom: 5.15%;
                
                &_description {
                    width: 100%;
                    padding-left: 0;
                }
            }

            &_label_arrow {
                pointer-events: all;

                &::after {
                    transform: translate(-75%, -25%) rotate(-135deg);
                }
            }

            &_title {

                &_description {
                    @include font(20px, 22px, 'Roboto-Regular');

                    letter-spacing: 2px;
                    text-decoration: underline $red_1;

                    &_date {
                        @include font(20px, 22px, 'Roboto-Black');

                        letter-spacing: 2px;
                    }
                }
            }
        }
    }


// Left side

    &_container {
        position: relative;
        height: 100%;
        width: calc( 100% + 17px );
        overflow-y: scroll;
        z-index: 1;

        &::-webkit-scrollbar {
            display: none; 
        }
        
        &_outer {
            height: 100%;
            overflow: hidden;
        }
        
        &_inner {
            width: calc( 100% - 17px);
            padding: 18% 0 14%;
        }

        &_item {
            margin-bottom: 6.95%;
        }

        &_load_more {
            @include font(20px, 24px, 'Roboto-Regular');

            display: block;
            padding: 1.67% 4.17%;
            margin: 0 11.12% 0 auto;
            color: $red_1;
            background-color: $white_1;
            border: 1px solid $red_1;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
                color: $white_1;
                background-color: $red_1;
            }
        }
    }

    &_main {
        position: relative;
        width: 85.42%;
        margin: auto;
        padding: 5.56% 9.03%;
        cursor: pointer;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            border: 1px solid $red_1;
            background-color: $white_1;
            z-index: -1;
        }

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: -14px;
            bottom: -23px;
            border: 1px solid $red_1;
            background-color: $white_1;
            z-index: -2;
        }
    }

    &_image_preview {
        width: 100%;

        &_wrap {
            width: 25%;
            overflow: hidden;
        }
    }

    &_header {
        display: flex;
        margin-bottom: 0;

        &_description {
            width: 75%;
            padding-left: 20px;

            &_top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5.15%;
            }
        }
    }

    &_label_arrow {
        position: relative;
        width: 25px;
        height: 25px;
        cursor: pointer;
        pointer-events: none;

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            width: 20px;
            height: 20px;
            border: 1px solid transparent;
            border-color: transparent $black_1 $black_1 transparent;
            transform: translate(-75%, -25%) rotate(45deg);
            transform-origin: 75% 75%;
            transition: 0.5s;
        }
    }

    &_title {

        &_description {
            @include font(18px, 22px, 'Roboto-Regular');

            letter-spacing: 2px;

            &_date {
                @include font(18px, 22px, 'Roboto-Regular');

                letter-spacing: 2px;
            }
        }
    }

    &_main_description_wrap {
        height: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    &_content {

        &_paragraph {
            @include font(18px, 22px, 'Roboto-Light');

            letter-spacing: 2px;
            margin-bottom: 5.15%;
        }

        &_date {
            @include font(18px, 22px, 'Roboto-Regular');

            display: block;
            letter-spacing: 2px;
        }
    }

    &_footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &_censorship {
            @include font(18px, 22px, 'Roboto-Light');

            letter-spacing: 2px;

            &_color {
                color: $red_1;
            }
        }

        &_link {
            @include font(20px, 24px, 'Roboto-Regular');

            padding: 14px 20px;
            color: $white_1;
            background-color: $red_1;
            border: 1px solid $red_1;
            
            &:hover {
                color: $red_1;
                background-color: $white_1;
                border: 1px solid $red_1;
            }
        }
    }


// Right side

    &_portfolio_item {
        display: none;

        &:first-child {
            display: block;
        }
    }

    &_section {
        height: 100vh;
        overflow: hidden;
    }

    &_list {
        height: 100%;
        width: calc( 100% + 17px );
        overflow-y: scroll;
    }

    &_item {
        width: calc(100% - 17px);
    }

    &_img {
        width: 100%;
    }
}