.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    padding: 2.78% 3.125% 0 0;
    z-index: 99;

    .logo_link {
        display: block;
        width: 50.7%;
        margin-left: 12px;
    }
}

.logo_svg {

    &:hover {
        fill: $red_1;
    }
}

.menu_checkbox {

    &_input {
        display: none;

        &:checked {

            & ~ .left {

                .close_menu {
                    display: block;
                }

                .open_menu {
                    display: none;
                }
            }
        }
    }

    &_label {
        display: block;
        width: 3.9%;
        cursor: pointer;

        .close_menu {
            display: none;
        }

        &:hover svg {
            fill: $red_1;
        }
    }
}


// screen width <= 425px
@media only screen and (max-width: 425px) {

    .header {
        width: 100%;
    }
}