.left {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: $white_1;

    &_marquee {
        @include font(22px, 26px, 'Roboto-Regular');

        position: fixed;
        bottom: 0;
        left: 50%;
        width: 100vh;
        color: $red_1;
        transform: rotate(-90deg);
        transform-origin: bottom left;
        z-index: 2;
        pointer-events: none;
    }
}

.button_book_now {

    &_link {
        position: absolute;
        left: 40px;
        bottom: 18.9%;
        width: 30%;
        z-index: 1;
    }
    
    path {
        fill: $red_1;
        stroke: $red_1;
        transition: 0.3s;
        
        &:last-child {
            fill: $white_1;
            stroke: $white_1;
        }
    }
    
    &:hover {
        cursor: pointer;
        
        path {
            fill: $white_1;
            
            &:last-child {
                fill: $red_1;
                stroke: $red_1;
            }
        }
    }
}