.menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: $white_1;
    z-index: 10;
    opacity: 0;
    // visibility: hidden;
    pointer-events: none;
    transition: 0.5s;

    &_checkbox_input {

        &:checked {

            & ~ .header {

                .close_menu {
                    display: block;
                }

                .open_menu {
                    display: none;
                }
            }

            & ~ .menu {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }

    &_item_social_wrap {
        position: absolute;
        top: 20%;
        left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40.5%;
    }

    &_link {
        @include font(22px, 24px, 'Roboto-Light');

        color: $black_1;

        &:hover,
        &_active {
            color: $red_1;
            text-decoration: underline;
        }

        // for wordpress
        a {
            @include font(22px, 24px, 'Roboto-Light');

            color: $black_1;

            &:hover,
            &_active {
                color: $red_1;
                text-decoration: underline;
            }
        }
    }

    &_social_link {
        @include font(22px, 24px, 'Roboto-Light');

        color: $black_1;

        &:hover {
            color: $red_1;
            text-decoration: underline;
        }
    }
}


// screen width <= 425px
@media only screen and (max-width: 425px) {

    .menu {
        width: 100%;
    }
}