.menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: $white_1;
    z-index: 10;
    transition: 0.5s;

    &_checkbox_input {
            
        &:checked {

            & ~ .header {

                .close_menu {
                    display: block;
                }

                .open_menu {
                    display: none;
                }
            }

            & ~ .menu {
                opacity: 1;
                visibility: visible;
            }
        }

        &:not(:checked) {

            & ~ .menu {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &_item_social_wrap {
        position: absolute;
        top: 20%;
        left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40.5%;
    }

    &_link {
        @include font(22px, 24px, 'Roboto-Light');

        color: $black_1;

        &:hover,
        &_active {
            color: $red_1;
            text-decoration: underline;
        }
    }

    &_social_link {
        @include font(22px, 24px, 'Roboto-Light');

        color: $black_1;

        &:hover {
            color: $red_1;
            text-decoration: underline;
        }
    }
}
