.home {

    .menu_checkbox_input {
    
        &:checked {
    
            & ~ .right {
    
                .right {
    
                    &_bg {
                        display: none;
                    }
    
                    &_bg_menu_open {
                        display: block;
                    }
                }
            }
        }
    }
}

.right {
    position: relative;
    width: 50%;
    height: 100%;

    &_marquee {
        position: fixed;
        top: 0;
        left: 50%;
        width: 11.25%;
        height: 100%;
        pointer-events: none;
        z-index: 1;

        &_svg {
            fill: $red_1;
            width: 100%;
            height: 100%;
        }
    }

    &_bg {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &_menu_open {
            display: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


// screen width <= 425px
@media only screen and (max-width: 425px) {

    .right {
        height: 50vh;
        width: 100%;
        padding: 45px 20px 0;

        &_marquee {
            display: none;
        }
    }
}